body {
    background-image: url("https://4kwallpapers.com/images/wallpapers/dark-green-gradient-2560x2560-25340.jpg");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    text-align: center;
}
.inhoud {
    width: min(90%, 900px);
    margin: 0 auto;
    padding: 1px 20px 30px;
    box-sizing: border-box;
    background-color: rgba(113,155, 119, 0.603);
}
h1{
    color: rgb(113, 155, 119);
    background-color: black;
    margin: 0;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 50px;
    font-family: 'Helvetica'
   

    
}
h2{
    color: white;
    font-family: 'Segoe UI'
}

table {
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.603);
    border: 1px solid black;
    font-family: Courier New;
}
td,th {
    border: 1px solid black;
    padding: 10px;
}
a {
    color: black;
    text-decoration: line;
}
ul {
    text-align: left;
}
#plaatje {
    display: block;
    margin: 125px auto;
    border: 5px solid rgba(0, 0, 0, 0.466);
}